.navbar {
  background: deepskyblue;
}

.nav {
  color:white;
}

.navbar-nav { 
  margin-left: 82%; 
  margin-right:auto;
} 

.h1 {
  color:white;
}
.display-4 {
  color:deepskyblue;
}

.nav-link:focus, .nav-link:hover {
  color:white;
  background-color: #617077;
}


