.navbar {
  background: deepskyblue;
}

.nav {
  color:white;
}

.h1 {
  color:white;
}
.display-4 {
  color:deepskyblue;
}
/* .box {
  min-height: 50px;
  padding: 5px;
  margin: 5px;
  font-weight: 800;
  color: #fff;
}

.skyblue {
  background: deepskyblue;
}

.purple {
  background: rebeccapurple;
}

